.chat-screen{
    background-color: #A0B9C9;
    height:500vh;
}
.chat-screen .status-bar{
    background-color: #A0B9C9;
    box-sizing: border-box;
    z-index: 2;
    
}

.chat-screen .alt-header{
    position: fixed;
    width:100%;
    box-sizing: border-box;
    top:0;
    background-color: #A0B9C9;
    margin-top:0px;
    padding-top:50px;
    padding-bottom: 30px;
    z-index: 1;
    
   
}

@keyframes fadeIn1{
    from{
        
        transform: translateX(-500px);
        opacity: 0;

    }
    to{
        transform: none;
        opacity:1;
    }
}


.main-chat{
    margin-top:120px;
    display:flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.6s linear;

}



.chat__timestamp{
    background-color: rgba(0,0,0,0.2 );
    color:white;
    font-size: 13px;
    font-weight: 200;
    width: 190px;
    height: 30px;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    
}


.message-row{
    width:100%;
    margin-bottom: 25px;
    display:flex;
    justify-content: flex-start;
    color:rgba(0, 0,0,0.6 );
    
}

@keyframes ImageEffect{

    0%{
        transform: translateX(-80px);
        opacity:0;
    }



    50%{
        transform: translateX(-70px);
        transform: scale(2);
        opacity: 1;
        
    }

    75%{
        transform: translateX(-20px);
        transform: scale(1.5);
    }

    100%{
        transform: none;
    }

}

.message-row img{
    margin-right: 10px;
    animation: ImageEffect 1s linear;
}

.message-row__content{
    display:flex;
    flex-direction: column;
}

.message__author{
    margin-bottom : 5px;
    font-size: 20px;
}

@keyframes Lmessage{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        transform: none;
    }
}

@keyframes Rmessage{
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        transform: none;
    }
}

.message__author + .message__info{
    animation: Lmessage 0.5s linear;
}

.message-row--own  .message__info{
    animation: Rmessage 1s linear;
}

.message__info{
    display:flex;
    align-items: flex-end;
}
.message_bubble{
    background-color: white;
    padding: 10px 9px;
    border-radius: 15px;
    border-top-left-radius: 0px;
}

.message_time{
    font-size: 10px;
    margin: 0px 5px;
}

.message-row--own{
    justify-content:flex-end;
}

.message_bubble--own{
    background-color:var(--yellow);
    padding: 10px 9px;
    border-radius: 15px;
    border-top-right-radius: 0px;
}




.reply{
    position:fixed;
    bottom:0;
    width:100%;
    background-color: white;
    display:flex;
    justify-content: space-between;
    padding: 5px 25px;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
}

.reply__column:first-child{
    width:10%;
    display:flex;
    align-items: center;
    color:rgba(0, 0,0,0.5 )
}

.reply__column:last-child{
    width:90%;
    position: relative;
    
}


.reply input{
    height:30px;
    padding: 5px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    transition: all 1s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button{
    position: absolute;
    right:-3px;
    top:5px;
}

.reply__column:last-child> i{
    right:40px;
    top:13px;
}

.reply__column button{
    background-color:var(--yellow);
    border: none;
    width:27px;
    height:30px;
    border-radius: 15px;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-grin-beam,
.reply:focus-within button {
    opacity: 0;
}

.reply:focus-within input {
    
    width: 95vw;
    transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within input::placeholder{
    color: var(--yellow);
}

.reply:focus-within{
    transform: translateY(80px);
} 