
.settings__setting{
    padding: 26px 0px;
    border-bottom:1px solid rgba(0,0,0,0.08);
    font-size: 18px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.settings__setting>span{
    color: rgba(0,0,0,0.5);
    font-size: 18px;
}
.settings__setting-column{
    display:flex;
    align-items: center;
    justify-content:start;
}

.settings__setting i{
    font-size: 22px;
    width:50px;
}

.settings__setting:last-child{
    border-bottom: none;
}

.main-setting{
    border-bottom:1px solid rgba(0,0,0,0.15);
}

.setting-newnotification{
    margin-left:10px;
    font-size: 5px;
    font-weight: 600;
}
